#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  .swiper-button-next,
.swiper-button-prev {
  color: #f59e0b; /* Tailwind yellow-400 */
  font-size: 24px;
  z-index: 10;
}
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 110%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  